.mainbg {
  background-image: url("../img/BckgrdProjeto3.0.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}
.whitebg {
  background: var(--white-color);
  color: var(--primary-color);
}
.main-content {
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}
.section {
  min-height: 100vh;
}
div .full-width {
  width: 100%;
  flex: 1 1 100%;
}
