.intro-content {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content,
.introimg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.introimg img,
.introimg svg {
  max-width: 100%;
  height: auto;
}

.materia-main {
  max-width: 70rem;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: var(--gap);
}

.materia-main h3 {
  margin-bottom: 3rem;
}

.top3-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
}

.top3-main h2 {
  margin-bottom: 3rem;
}

.top3-main p {
  margin-bottom: 15rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.galeria-content {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.galeria-content img {
  transition: all 300ms ease-in-out;
}

.galeria-content img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.galeria-title {
  font-style: italic;
  text-transform: capitalize;
}

.pcontent {
  font-style: italic;
  color: turquoise;
}

.contact-form {
  grid-column: span 2;
}

.form-title {
  margin-bottom: 32px;
}

.contact-form .form-grid {
  margin-top: 32px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-group {
  flex: 1 1 320px;
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
  resize: none;
  border-radius: 6px;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--secundary-color);
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 6px;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: var(--gray-color);
  font-size: 2.5rem;
}

.tabela {
  overflow: hidden;
  overflow-x: auto;
}

.rodape ul {
  display: flex;
  list-style: none;
}

.rodape h1 {
  font-size: 2.3rem;
  color: var(--white-color);
}

.rodape h1 a {
  color: inherit;
}

.rodape ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--white-color);
  position: relative;
}

.rodape ul li a::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--secundary-color);
  transition: all 300ms ease-in-out;
}

.rodape ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background: var(--white-color);
  color: var(--primary-color);
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

.footer {
  text-align: center;
  font-size: 2.2rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secundary-color);
}

.contact-Me {
  margin-left: 0.32rem;
  text-shadow: 1px 1px 1px rgb(1, 80, 170);
}

.contact-Me:hover {
  color: rgb(8, 207, 233);
  transition: all 300ms ease-in-out;
}

.footer p {
  margin: 0;
  padding: 1rem;
}

@media (max-width: 800px) {

  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .galeria-content {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .galeria-content img {
    width: 100%;
  }

  .top3-main {
    display: block;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menucontent,
  .menucontent ul {
    flex-direction: column;
    justify-content: center;
  }

  .menucontent {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    display: block;
    content: "✕";
    font-size: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2.8rem;
  }
}